<%= form_for @curso, url: update_cursos_profesor_path do |f| %>

  <% if @curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curso.errors.count, "error") %> prohibited this curso from being saved:</h2>

      <ul>
      <% @curso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Nombre</label>
    <div class="col-sm-9">
      <%= f.text_field :nombre, :autofocus => true, :class => 'form-control' %>
    </div>
</div>

<div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Sigla</label>
    <div class="col-sm-9">
      <%= f.text_field :sigla, :autofocus => true, :class => 'form-control' %>
    </div>
</div>


<div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Profesor</label>
    <div class="col-sm-9">
      <%= f.select :profesor_id, options_for_select(Profesor.all.collect{ |u| ["#{u.nombre} #{u.apellido}", u.id] }) %>
    </div>
</div>

  <%= f.hidden_field :curso_id, value: @curso.id %>


  
  <div class="actions">
    <%= link_to "Atrás", :back, class: 'btn btn-info' %> 
    <%= f.submit "Aceptar", class: 'btn btn-primary' %>
  </div>

<% end %>
