<div class="top-info">
	<h2>Cursos Alumnos</h2><span class="desc">alumnos cursos</span>
</div>


<% if @alumnos.count == 0 %>
	<div class="mid-info">
		<h4 class="desc">No se registran alumnos</h4>
	</div>
<% else %>
	<div class="mid-info">
		<table class="table">

			<thead>
				<tr>
					<td>RUN</td>
					<td>Nombre</td>
					<td>Apellido</td>
					<td>Email</td>
					<td></td>
				</tr>
			</thead>

			<tbody>

				<% @alumnos.each do |a| %>

					<tr>
						<td><%= a.rut %></td>
						<td><%= a.nombres %></td>
						<td><%= a.apellidos %></td>
						<td><%= a.email %></td>
						<td>
							<%= link_to "Eliminar de curso", del_alumnos_cursos_profesor_path(@curso.id, a.id), class: 'btn btn-xs btn-danger' %>
						</td>
					</tr>

				<% end %>

			</tbody>
		</table>
	</div>
<% end %>


<div class="top-info">
	<h2>Alumnos</h2><span class="desc">agregar alumno</span>
</div>

<div class="mid-info">

	<%= form_for Alumno.new, url: add_alumnos_cursos_profesor_path do |f| %>

		<div class="form-group">
		    <label for="inputEmail3" class="col-sm-3 control-label">Nombre</label>
		    <div class="col-sm-3">
		      <%= f.text_field :rut, :class => 'form-control' %>
		      <%= f.hidden_field :curso_id, value: @curso.id %>
		    </div>
		</div>
		<%= f.submit "Agregar alumno", class: 'btn btn-primary' %>
	<% end %>
</div>
<!--
<div class="top-info">
	<h2>Importar Alumnos</h2><span class="desc">agregar alumno desde xls</span>
</div>

<div class="mid-info">

</div>
-->