<div class="top-info">
	<h2>Cursos</h2><span class="desc">listado cursos</span>
</div>


<div class="mid-info">
	<table class="table table-condensed">


		<thead>

			<tr>
				<th>Sigla</th>
				<th>Nombre</th>
				<th>Profesor Jefe</th>
				<th></th>
			</tr>

		</thead>

		<tbody>
			
			<% @cursos.each do |c| %>

				<tr>
					<td><%= c.sigla %></td>
					<td><%= c.nombre %></td>
					<td><%= "#{c.profesor.nombre} #{c.profesor.apellido}" %></td>
					<td>
						<%= link_to "Ver", curso_path(c.id), class: 'btn btn-xs btn-primary' %>
						<%= link_to "Modificar", edit_cursos_profesor_path(c.id), class: 'btn btn-xs btn-primary' %>
						<%= link_to "Ver Alumnos", alumnos_cursos_profesor_path(c.id), class: 'btn btn-xs btn-primary' %>
						<%= link_to "Eliminar", destroy_cursos_profesor_path(c.id), class: 'btn btn-xs btn-danger' %>
					</td>
				</tr>

			<% end %>


		</tbody>
		

	</table>
</div>

<div class="top-info">
	<h2>Opciones</h2><span class="desc">cursos</span>
</div>

<div class="mid-info">
	<%= link_to "Agregar Curso", create_cursos_profesor_path, class: 'btn btn-lg btn-primary' %>
</div>