<h1>Listado Alumno</h1>

<table>
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Fecha de nacimiento</th>
      <th>Nivel</th>
      <th>Curso</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @alumnos.each do |alumno| %>
      <tr>
        <td><%= alumno.nombres %></td>
        <td><%= alumno.apellidos %></td>
        <td><%= alumno.fecha_de_nacimiento %></td>
        <td><%= alumno.nivel %></td>
        <td><%= alumno.curso %></td>
        <td><%= alumno.email %></td>
        <td><%= link_to 'Show', alumno, class: 'btn btn-mini' %></td>
        <td><%= link_to 'Edit', edit_alumno_path(alumno), class: 'btn btn-mini' %></td>
        <td><%= link_to 'Destroy', alumno, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo alumno', new_alumno_path, class: 'btn btn-primary btn-mini' %>
<%= link_to 'Home', root_path, class: 'btn btn-mini btn-default' %>
