<p id="notice"><%= notice %></p>

<p>
  <strong>Nombres:</strong>
  <%= @alumno.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @alumno.apellidos %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @alumno.fecha_de_nacimiento %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @alumno.nivel %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @alumno.curso %>
</p>

<p>
  <strong>Email:</strong>
  <%= @alumno.email %>
</p>

<%= link_to 'Editar', edit_alumno_path(@alumno), class: 'btn btn-default btn-mini'%>
<%= link_to 'Atrás', alumnos_path, class: 'btn btn-mini btn-default'%>
