

<div class="top-info">
	<h2>Profesor</h2><span class="desc">dashboard</span>
</div>


<div class="mid-info">
	<p>Bienvenido docente, <%= "#{current_profesor.nombre} #{current_profesor.apellido}" %></p>
</div>
