<div class="top-info">
  <h2>Nueva Noticia</h2><span class="desc"><%= @curso.nombre %></span>
</div>


<div class="mid-info">
  <%= form_for Noticias.new, url: post_noticia_curso_path do |f| %>

<div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Titulo</label>
    <div class="col-sm-9">
    	<%= f.text_field :titulo, :autofocus => true, :class => 'form-control' %>
    </div>
</div>

<div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Contenido</label>
    <div class="col-sm-9">
    	<%= f.text_area :contenido, :class => 'form-control wysihtml5' %>
    </div>
</div>

	<%= f.hidden_field :curso_id, value: @curso.id %>

<div class="text-right">
  <%= f.submit "Agregar", class: 'btn btn-primary' %>
</div>
  <% end %>
</div>