
<div class="top-info">
    <h2>Actualización Información Personal</h2><span class="desc">update</span>
</div>

<% if flash[:notice] %>
	<div class="alert alert-info">
		<%= flash[:notice] %>
	</div>
<% end %>

<%= form_for(@profesor, :url => update_info_form_profesor_path, :html => {:class => 'form-horizontal'}) do |f| %>


<div class="mid-info">

<div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Nombres</label>
    <div class="col-sm-9">
    	<%= f.text_field :nombre, :autofocus => true, :class => 'form-control' %>
    </div>
</div>

<div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Apellidos</label>
    <div class="col-sm-9">
    	<%= f.text_field :apellido, :class => 'form-control' %>
    </div>
</div>


<div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">RUN</label>
    <div class="col-sm-9">
    	<%= f.text_field :rut, :class => 'form-control', disabled: true %>
    </div>
</div>

<div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
    <div class="col-sm-9">
    	<%= f.email_field :email, :class => 'form-control' %>
    </div>
</div>

  <div class="form-group">
    <div class="col-sm-offset-8 col-sm-4">
    	<%= link_to "Atrás", :back, class: 'btn btn-default' %>
        <%= f.submit "Actualizar Informacion", :class => "btn btn-primary" %>
    </div>
</div>
<% end %>

</div>
