
<div class="top-info">
	<h2>Alumno</h2><span class="desc">dashboard</span>
</div>


<div class="mid-info">
	<h4>Bienvenido alumno, <%= "#{current_alumno.nombres} #{current_alumno.apellidos}" %></h4>
</div>
