<div class="container session">

	<h4>Escoger tipo de session</h4>
	

	<div class="col-lg-12">

		<div class="col-lg-4 session-box">
			<%= link_to "Entrar como Alumno", new_alumno_session_path, class: 'btn btn-lg btn-primary' %>
		</div>

		<div class="col-lg-4 session-box">
			<%= link_to "Entrar como Profesor", new_profesor_session_path, class: 'btn btn-lg btn-primary' %>
		</div>


		<div class="col-lg-4 session-box">
			<%= link_to "Entrar como Apoderado", new_apoderado_session_path, class: 'btn btn-lg btn-primary' %>
		</div>
	</div>
</div>