

<div class="info">

    <h1 class="cover-heading">Plataforma Educacional.</h1>
    <p class="lead">Pleduc es una plataforma educacional que ayuda a Profesores, Alumnos y Apoderados
              a tener una comunicación más fluida e instantánea.</p>

    <p class="lead">
    	<%= link_to "Comenzar", comenzar_path, class: 'btn btn-lg btn-default' %>
    </p>

</div>





