
<div class="top-info">
	<h2>Apoderado</h2><span class="desc">dashboard</span>
</div>


<div class="mid-info">
	<h4>Bienvenido apoderado, <%= "#{current_apoderado.nombre} #{current_apoderado.apellido}" %></h4>
</div>
