<h2>Registro Alumno</h2>
<hr />

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
  <%= devise_error_messages! %>


<div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Nombres</label>
    <div class="col-sm-9">
    	<%= f.text_field :nombres, :autofocus => true, :class => 'form-control' %>
    </div>
</div>

<div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Apellidos</label>
    <div class="col-sm-9">
    	<%= f.text_field :apellidos, :class => 'form-control' %>
    </div>
</div>

<div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">RUN</label>
    <div class="col-sm-9">
      <%= f.text_field :rut, :class => 'form-control' %>
    </div>
</div>

<div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
    <div class="col-sm-9">
    	<%= f.email_field :email, :class => 'form-control' %>
    </div>
</div>

  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label">Contraseña</label>
    <div class="col-sm-9">
      <%= f.password_field :password, :class => 'form-control' %>
    </div>
  </div>


  <div class="form-group">
    <label for="inputPassword3" class="col-sm-3 control-label">Repetir contraseña</label>
    <div class="col-sm-9">
      <%= f.password_field :password_confirmation, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-10 col-sm-2">
      <%= f.submit "Registrar", :class => "btn btn-primary" %>
    </div>
</div>
<% end %>
