<div class="top-info">
  <h2>Descripción Curso</h2><span class="desc"><%= @curso.nombre %></span>
</div>


<div class="mid-info">
  <%= form_for @curso, url: desc_update_curso_path do |f| %>


<div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Descripción</label>
    <div class="col-sm-9">
    	<%= f.text_area :desc, :class => 'form-control' %>
    </div>
</div>

	<%= f.hidden_field :curso_id, value: @curso.id %>

  <%= f.submit "Agregar", class: 'btn btn-primary' %>
  <% end %>
</div>