
<div class="top-info">
  <h2>Curso <%= @curso.nombre %></h2><span class="desc"><%= @curso.sigla %></span>
</div>


<div class="mid-info">
	<div class="noticia">
		<% if not @curso.desc.blank? %>
  			<p><%= @curso.desc %></p>
  		<% else %>
  			No hay una descripción del curso. 
  		<% end %>
  	</div>

  <% if profesor_signed_in? %>
  <div class="text-right">
  	<%= link_to "Editar descripción", desc_curso_path(@curso.id), class: 'btn btn-xs btn-primary' %>
  </div>
  	<% end %>
</div>


<div class="top-info">
  <h2>Últimas Noticias</h2><span class="desc"><%= @curso.sigla %></span>

</div>


<div class="mid-info">
  
  <% if @noticias.count > 0 %>
  	<% @noticias.each do |n| %>

  	<div class="noticia">
  		<h5><%= n.titulo %></h5>
  		<p><%= raw n.contenido %></p>
  		<p class="publised_at">Publicado en: <%= n.created_at %></p>
  	</div>

  	<% end %>

  <% else %>
  	<p>No se registran noticias.
  <% end %>
  <br />
  <% if profesor_signed_in? %>
  <div class="text-right">
  	<%= link_to "Agregar noticia", nueva_noticia_curso_path(@curso.id), class: 'btn btn-xs btn-primary' %>
  </div>
  <% end %>
</div>

<div class="top-info">
  <h2>Material</h2><span class="desc"><%= @curso.sigla %></span>
</div>


<div class="mid-info">
  <h4>Material disponible</h4>

  <table class="table">
    <thead>
      <tr>
        <th>Título Material</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @curso.uploads.each do |u| %>
      <tr>
        <td><h6><%= u.titulo %></h6></td>
        <td>
          <%= link_to "Descargar", u.file.url(:original, false), class: 'btn btn-xs btn-primary' %>
          <%= link_to "Eliminar", curso_delete_path(u.id), class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

<% if profesor_signed_in? %>
<h4>Subir Material</h4>

<%= form_for(Upload.new, :url => curso_upload_path(@curso.id), :html => {:class => 'form-horizontal'}) do |f| %>

<div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Título</label>
    <div class="col-sm-9">
      <%= f.text_field :titulo, :class => 'form-control' %>
    </div>
</div>

 <div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Seleccionar Archivo</label>
    <div class="col-sm-9">
      <%= f.file_field :file, :class => 'form-control' %>
    </div>
</div>
  
<div class="text-right">
  <%= f.submit "Subir Material", class: 'btn btn-primary btn-xs' %>
</div>
  <% end %>
<% end %>
</div>


<div class="top-info">
  <h2>Videos</h2><span class="desc"><%= @curso.sigla %></span>
</div>


<div class="mid-info">
  <p>videos</p>
</div>



<div class="top-info">
  <h2>Links de interés</h2><span class="desc"><%= @curso.sigla %></span>
</div>


<div class="mid-info">
  <p>links</p>
</div>
