
/* 
 *= require_self
 *= require bootstrap_and_overrides
 */


.login-alumno {
	background-color: #c5dcf9;
	padding: 80px 20px 80px 20px;
}


/*
 * Globals
 */

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

body {
  color: #fff;
  text-align: center;/*
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}

.cover-img {
    color: rgb(255, 255, 255);
    position: absolute;

    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    min-width: 100%;
    min-height: 100%;

    background-image: url(asset_path('bg-young.jpg'));
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.contenedor-info {
	position: absolute;
	width: 100%;
	top: 33%;
	display: block;

	background-color: #f0f0f0;
	text-align: center;

  opacity: 0.8;
  filter:alpha(opacity=80);

  height: auto;
}

.info {
	color: black;
	padding: 30px;
}

/**
 * Sessiones
 */

.session {
	color: black;
	padding: 30px;
  min-height: 200px;
}

.session-box {
	min-height: 100px;
}



ul {
  list-style: none;
}