/* 
 *= require_self
 *= require bootstrap_and_overrides
 *= require bootstrap-wysihtml5
 */


* {
  padding: 0px;
  margin: 0px;
}


.top {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1f1f1f;

  display: block;
  width: 100%;
  clear: both;
  text-align: left;

  z-index: 999999;
}

.top h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 34px;
  font-weight: normal;
  color: #f0f0f0;
  padding: 5px 0px 5px 10px;
  margin: 0px;

  width: 300px;
  display: inline-block;
  vertical-align: top;
}


.opts {
  float: right;
  padding-right: 10px;
  right: 0px;
  vertical-align: top;
  display: inline-block;
}

.opts ul {
  list-style: none;
}

.opts ul li {
  display: inline-block;
  vertical-align: top;
  /*background-color: #4d4d4d;*/
  margin-top: 5px;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.opts ul li a {
  padding: 0px;
  height: 30px;
  
  height: 40px;
}

.opts ul li a img {
  -webkit-filter: invert(80%);
  padding: 0px 0px 0px 0px;
  width: 38px;
}

.content {
  display: block;
}

.login-alumno {
	background-color: #c5dcf9;
	padding: 80px 20px 80px 20px;
}


/*
 * Globals
 */

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #fff;
  margin: 0px;
  padding: 0px;
}

body {
  text-align: center;
}

.paddtop {
  padding-top: 50px;
}


.left {
  background-color: #3D3D3D;
  width: 20%;
  height: 100%;
  display: block;
  position: absolute;
  vertical-align: top;
  left: 0;
  z-index: 999;
}

.menu {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.menu li {
    display: block;
    width: 100%;
    
    border-bottom: 1px solid #4d4d4d;
}

.menu li a {
  display: block;
  color: #949494;
  font-family: helvetica;
  font-weight: 300;

  width: 100%;
  font-size: 115%;
  padding: 10px;
  text-align: left;
}

.menu li a:hover {
  background-color: #D64635;
  text-decoration: none;

  -webkit-transition: background-color 500ms ease;
  -moz-transition: background-color 500ms ease;
  -o-transition: background-color 500ms ease;
  transition: background-color 500ms ease;

  color: white;
}

.menu-active {
  background-color: #D64635;
  color: white;
}

.main {
  width: 80%;
  left: 20%;
  display: block;
  position: absolute;
  vertical-align: top;
  background-color: #fff;
  height: 100%;
}


.info {
	color: black;
	padding: 30px;
}

/**
 * Sessiones
 */

.session {
	color: black;
	padding: 30px;
}

.session-box {
	min-height: 400px;
}


ul {
  list-style: none;
}





/** 
 * TOP INFO
 */

 .top-info {
  height: 40px;
  width: 100%;
  text-align: left;
  padding: 20px;
 }

 .top-info h2 {
  padding: 0px;
  margin: 0px;
  color: #6a6a6a;
  font-family: helvetica;
  font-weight: 300;
  font-size: 30px;

  display: inline-block;
 }

 .top-info span {
  font-size: 18px;
  color: #8b8b8b;
  display: inline-block;
  font-family: helvetica;
  font-weight: 300;
  margin-left: 10px;
 }


 .mid-info {
  background-color: #F7F7F7;
  color: #6d6d6d;
  width: 97%;
  margin: 20px auto;
  text-align: left;
  padding: 10px;
 }

 .mid-info a {
  color: #6d6d6d;
 }

 .mid-info a.btn {
  color: #f0f0f0;
 }


 .noticia {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 5px;
 }

 .publised_at {
  font-size: 10px;
  text-align: right;
 }

 .wysihtml5-toolbar a {
  color: black;
 }

 ul.wysihtml5-toolbar > .btn-group > .btn-group > li  >a {
 color: black;
 }
