
<div class="top-info">
  <h2>Actualizar información Personal</h2><span class="desc">alumno</span>
</div>


<div class="mid-info">
<%= form_for(@alumno, :url => update_info_form_alumno_path, :html => {:class => 'form-horizontal'}) do |f| %>


<div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Nombres</label>
    <div class="col-sm-9">
    	<%= f.text_field :nombres, :autofocus => true, :class => 'form-control' %>
    </div>
</div>

<div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Apellidos</label>
    <div class="col-sm-9">
    	<%= f.text_field :apellidos, :class => 'form-control' %>
    </div>
</div>

<div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">RUN</label>
    <div class="col-sm-9">
        <%= f.text_field :rut, :class => 'form-control' %>
    </div>
</div>

<div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Fecha de Nacimiento</label>
    <div class="col-sm-9">
    	<%= f.date_field :fecha_de_nacimiento, :class => 'form-control' %>
    </div>
</div>


<div class="form-group">
    <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
    <div class="col-sm-9">
    	<%= f.email_field :email, :class => 'form-control' %>
    </div>
</div>


  <div class="form-group">
    <div class="col-sm-offset-8 col-sm-4">
    	<%= link_to "Atrás", :back, class: 'btn btn-info' %>
        <%= f.submit "Actualizar Informacion", :class => "btn btn-primary" %>
    </div>
</div>
<% end %>
</div>
