<div class="page-header">
  <h1>Ingreso Profesores <small>PLEDUC</small></h1>
</div>


<div class="col-lg-6">
	<h3>¿Cómo funciona?</h3>
	<%= image_tag("how-alumnos.png") %>
</div>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
<div class="col-lg-6">
	<h3>Ingresa tus datos</h3>
	
	<div class="login-alumno">
		<div class="form-group">
		    <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
		    <div class="col-sm-9">
		    	<%= f.email_field :email, :autofocus => true, :class => 'form-control' %>
		    </div>
		</div>

		<div class="form-group">
		    <label for="inputEmail3" class="col-sm-3 control-label">Contraseña</label>
		    <div class="col-sm-9">
		    	<%= f.password_field :password, :class => 'form-control' %>
		    </div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-10"><%= f.submit "Ingresar", class: "btn btn-primary" %></div>
		</div>
	</div>

	<div>
		<p>Si no tienes cuenta, <%= link_to "Registrate aquí", new_profesor_registration_path %></p>
	</div>
</div>
<% end %>
