
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Pleduc, Plataforma Educacional" %></title>
    <%= csrf_meta_tags %>

    <title>PLEDUC :: Plataforma Educacional</title>

    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="cover-img">

    <div class="contenedor-info">

      <%= yield %>

    </div>

    </div>
  </body>
</html>
