<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Pleduc" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "layout", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body class="paddtop">

    <div class="top">
      <h1>PLEDUC</h1>

      <div class="opts">
        <ul>
            <li><%= link_to root_path do %><%= image_tag("home.png") %><% end %></li>
            

            <% if profesor_signed_in? %>
              <li><%= link_to update_info_profesor_path do %><%= image_tag("cog.png") %><% end %></li>
              <li><%= link_to destroy_profesor_session_path, method: :delete do %><%= image_tag("close.png") %><% end %></li>
            <% end %>

            <% if alumno_signed_in? %>
              <li><%= link_to update_info_alumno_path do %><%= image_tag("cog.png") %><% end %></li>
              <li><%= link_to destroy_alumno_session_path, method: :delete do %><%= image_tag("close.png") %><% end %></li>
            <% end %>
            
             <% if apoderado_signed_in? %>
              <li><%= link_to update_info_apoderado_path do %><%= image_tag("cog.png") %><% end %></li>
              <li><%= link_to destroy_apoderado_session_path, method: :delete do %><%= image_tag("close.png") %><% end %></li>
            <% end %>
            
        </ul>
      </div>
    </div>


      <div class="contenido">

        <div class="left">

          <ul class="menu">

            <li><%= link_to "Pagina principal", root_path %></li>

            <% if profesor_signed_in? %>
              <li><%= link_to "Actualizar Información", update_info_profesor_path %></li>
              <li><%= link_to "Ver Cursos", cursos_profesor_path %></li>
              <li><%= link_to "Cerrar Session", destroy_profesor_session_path, method: :delete %></li>
            <% end %>

            <% if alumno_signed_in? %>
              <li><%= link_to "Actualizar Información", update_info_alumno_path %></li>
              <% if not current_alumno.curso_id.blank? %>
                <li><%= link_to "Ver Curso", curso_path(current_alumno.curso.id) %></li>
              <% end %>
              <li><%= link_to "Cerrar Session", destroy_profesor_session_path, method: :delete %></li>
            <% end %>

            <% if apoderado_signed_in? %>
              <li><%= link_to "Actualizar Información", update_info_apoderado_path %></li>
              <li><%= link_to "Cerrar Session", destroy_apoderado_session_path, method: :delete %></li>
            <% end %>

          </ul>
        </div>

        <div class="main">
          <% unless bootstrap_flash.blank? %>
              <%= bootstrap_flash %>
          <% end %>

          <%= yield %>
        </div>
      </div>

  </body>
</html>
